body {
  margin: 0;
  padding: 0;
  background-color: #fff;
  font-family: helvetica, arial, sans-serif;
  font-size: 14px;
  /*color: #333;*/
}

a {
  color: #3671a1;
  margin: 0;
  padding: 0;
  text-decoration: none;
}


#site_container{width: 660px; margin: 25px 0px;}
#site_title{font-size: 26px; font-weight: bold;}
#content_container{width: 100%; margin: 45px 0px;}
#footer{margin-bottom: 25px; width: 100%;}

label {font-weight: bold; display: block; margin-bottom: -10px;}


