body {
  margin: 0;
  padding: 0;
  background-color: #fff;
  font-family: helvetica, arial, sans-serif;
  font-size: 14px;
  color: #333;
}

a {
  color: #3671a1;
  margin: 0;
  padding: 0;
}

a img {
  border: 0;
  padding: 0;
}

strong {
  color: #000;
}

span.highlight {
  background-color: #ffcc00;
  color: #000;
  padding: 2px;
  margin: 5px 0;
}

