 <% @items.items.each do |item| %>
  <% att = item.search_and_convert('itemattributes') %>
  <p><a href="<%= book_url(item.get('asin')) %>"><%= att.get('title') %> - <%= att.get('author') %></a></p>
 <% end %>