 <% @items.items.each do |item| %>
  <% att = item.search_and_convert('itemattributes') %>
  <p><a href="/home/book/<%=  item.get('asin') %>"><%= att.get('title') %> - <%= att.get('author') %></a></p>
 <% end %>