<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

  <head>
    <head><title>Verbum Humanum - Easy Reading Plans</title></head>
    <meta name="description" content="Trusted by millions, Basecamp is the leading web-based project management and collaboration tool. To-dos, files, messages, schedules, and milestones." />
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <link rel="stylesheet" href="/stylesheets/screen.css" type="text/css" media="screen" />
  </head>

  <body>
    <div align="center">
      <div id="site_container" align="left">
          <div id="header">
            <span id="site_title"><a href="<%= root_url %>">Verbum Humanum - The Word Of Man</a></span><br/>
            <span id="site_description">Simple reading plans for any book.</span>
          </div>
          
          <div id="content_container">
            <%= yield @content %>
          </div>
          
          <div id="footer" align="center">
            Produced by <a href="http://www.ericfarkas.com">speric</a>
          </div>
      </div>
    </div>
  </body>
</html>